<div class= "col-sm-12">
  <% if current_user %>
    <%= form_for [@product, @review] do |form| %>
      <div class='col-sm-5'>
        <label>New Review:</label>
        <%= form.text_area :description, size: "1x4", :class => "form-control" %>
        <br>
        <label>Select Rating</label>
        <%= form.select(:rating, [1, 2, 3, 4, 5]) %>
        <br>
        <br>
      <%= form.submit 'Add review', :class => "btn btn-primary btn-lg"%>
    <% end %>
  <% end %>
  </div>
</div>
