
<div class="container">
  <div class="row">
    <div class= "col-sm-12">
      <div class="page-header">
        <h2> Comments </h2>
      </div>

      <% @product.reviews.each_slice(1) do |reviews| %>

      <div class="row">
        <% reviews.reverse_each do |review| %>
          <div class="col-sm-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Rating: <%= review.rating %></strong>
                <div class="panel-body">
                  <%= review.description %>
                </div>
                 <div class="panel-footer">
                   <%= link_to fa_icon('trash'), [@product, Review.find(review.id)], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
                 </div>
              </div>
            </div>
         </div>
         <% end %>
      </div>

      <% end %>

     </div>
  </div>
</div>
